@media only screen and (max-width: 845px) {
  header .logo {
    margin-left: 30px !important; }
  header nav ul {
    margin-top: 0px !important; }
  header nav li ul.submenu {
    top: 135px !important; }

  section {
    padding: 0 3% !important; }

  footer nav .footmenu:first-child {
    margin-right: 20px !important; } }
@media only screen and (max-width: 660px) {
  header {
    text-align: center !important; }
    header .logo {
      margin: 10% !important; }
    header nav ul li {
      display: block;
      width: 100%;
      margin: 0px; }
      header nav ul li a {
        display: block; }
      header nav ul li ul.submenu {
        display: none;
        position: static;
        width: 100%;
        padding: 0px 0px !important;
        background-color: #fff;
        border-bottom: 5px solid #2aacc8;
        margin-top: 0px; }
      header nav ul li li {
        position: static;
        margin: 0;
        display: block;
        width: 100%;
        padding: 10px 0;
        border-bottom: 1px solid #e6e6e6; }

  section {
    padding: 0 10px; }
    section .form, section .adress {
      width: 100% !important;
      display: block; }
    section form input {
      width: 92% !important; }
    section form input.button {
      width: 164px !important;
      height: 64px;
      margin: 0 auto; }
    section form textarea {
      width: 92% !important; }
    section .adress .wearehere {
      text-align: center; }

  footer {
    padding: 20px;
    background-color: #e8ebf1;
    margin-top: 40px; }
    footer nav .footmenu {
      float: none;
      width: 100% !important;
      margin-bottom: 40px;
      border-bottom: 1px solid #d9d9d9;
      padding-bottom: 20px; }
    footer nav .footmenu:last-child {
      margin-bottom: 0px;
      border: 0px; }
      footer nav .footmenu:last-child img {
        margin-bottom: 10px; }
    footer .copy {
      width: 100% !important;
      margin-top: 0px !important; } }
* {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: 'Lato', sans-serif; }
  * *:before, * *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

img,
picture,
video,
embed {
  max-width: 100%; }

a {
  color: #2aacc8;
  text-decoration: none;
  font-weight: bold;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease; }

a:hover {
  color: #000;
  -webkit-opacity: 0.25;
  -moz-opacity: 0.25;
  opacity: 0.25; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

.container {
  max-width: 980px;
  margin: 0 auto; }

header {
  width: 99.99%;
  height: auto;
  background-color: #e8ebf1;
  border-bottom: 1px solid #d9d9d9; }
  header .logo {
    margin: 35px 0;
    float: left; }
  header nav ul {
    float: right;
    margin-top: 40px; }
  header nav ul li {
    display: inline-block; }
    header nav ul li a {
      text-decoration: none;
      color: #000;
      font-size: 13px;
      font-weight: 700;
      padding: 14px 20px;
      text-transform: uppercase;
      border-top: 5px solid #e8ebf1;
      padding-top: 10px; }
    header nav ul li a:hover {
      border-top: 5px solid #2aacc8;
      padding-top: 10px;
      background-color: #fff;
      -webkit-opacity: 1;
      -moz-opacity: 1;
      opacity: 1; }
  header .seta-sub {
    background: url(../img/submenu.png) 85% 45% no-repeat;
    padding-right: 35px; }
  header .ativo {
    background-color: white;
    border-top: 5px solid #2aacc8; }
  header nav li ul.submenu {
    display: none;
    position: absolute;
    top: 32px;
    width: 200px;
    padding: 0px 20px 10px 20px;
    background-color: #fff;
    border-bottom: 5px solid #2aacc8; }
  header nav li ul.submenu li {
    position: relative;
    margin: 0;
    display: block;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #e6e6e6; }
    header nav li ul.submenu li a {
      color: #000;
      padding: 0;
      margin: 0;
      border: 0;
      text-transform: none;
      font-weight: normal; }
    header nav li ul.submenu li a:hover {
      color: #2aacc8; }
  header nav li ul.submenu li:last-child {
    border: none; }

section {
  margin-top: 30px; }
  section h1 {
    background: url(../img/contactus.png) left top no-repeat;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
    padding: 0px 40px 15px 40px;
    border-bottom: 1px solid #e8ebf1; }
  section .form {
    width: 65%;
    float: left;
    padding-top: 30px;
    margin-right: 5%; }
    section .form p {
      margin-bottom: 30px; }
    section .form form label {
      width: 100%;
      display: block;
      height: 10px;
      font-size: 14px; }
    section .form form input {
      width: 82%;
      margin-bottom: 20px;
      height: 20px;
      padding: 10px; }
    section .form form input.button {
      display: block;
      width: 164px;
      height: 64px;
      background: url(../img/btn.png) center center no-repeat;
      border: none;
      cursor: pointer;
      margin-top: 30px;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 18px;
      outline: none;
      padding-left: 40px;
      padding-bottom: 14px;
      -webkit-opacity: 1;
      -moz-opacity: 1;
      opacity: 1;
      -webkit-transition: all 0.25s ease;
      -moz-transition: all 0.25s ease;
      -ms-transition: all 0.25s ease;
      -o-transition: all 0.25s ease;
      transition: all 0.25s ease; }
    section .form form input.button:hover {
      color: #000;
      -webkit-opacity: 0.25;
      -moz-opacity: 0.25;
      opacity: 0.25; }
    section .form form textarea {
      width: 82%;
      padding: 10px;
      height: 140px; }
  section .adress {
    width: 30%;
    float: left;
    padding-top: 30px; }
    section .adress .wearehere {
      background-color: #e8fcfe;
      border: 1px solid #81e4ed;
      padding: 20px;
      margin-bottom: 20px; }
      section .adress .wearehere h2 {
        font-size: 14px;
        margin-bottom: 20px;
        font-weight: 700; }
    section .adress h3 {
      font-size: 15px;
      margin: 40px 0 15px 0; }
    section .adress p {
      color: #363636;
      font-size: 14px; }

footer {
  padding: 30px;
  background-color: #e8ebf1;
  margin-top: 40px;
  border-top: 1px solid #d9d9d9; }
  footer nav {
    margin-bottom: 30px; }
    footer nav .footmenu {
      float: left;
      width: 14%;
      margin-right: 15px;
      font-size: 14px;
      color: #363636; }
      footer nav .footmenu h3 {
        font-size: 15px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 20px;
        color: #000; }
      footer nav .footmenu ul li {
        margin-bottom: 10px; }
    footer nav .footmenu:last-child {
      margin-right: 0;
      width: 20%;
      text-align: right; }
      footer nav .footmenu:last-child h3 {
        text-align: left; }
      footer nav .footmenu:last-child img {
        margin-left: 10px; }
    footer nav .footmenu:first-child {
      width: 24%;
      margin-right: 62px; }
  footer .copy {
    width: 65%;
    margin-top: 40px;
    float: left; }
    footer .copy p {
      font-size: 13px;
      color: #363636; }
  footer img.footlogo {
    display: block;
    float: right;
    margin-top: 35px; }

/*# sourceMappingURL=style.css.map */
