// The theme colors
$color-primary: #2aacc8;
$color-light: #ffffff;
$color-dark: #000000;

$color-primary-light: #81e4ed;
$color-primary-dark: #363636;

$color-secondary: #000;

$color-gray: #e8ebf1;
$color-gray-line: #e8fcfe;

$slider-orange: #e05936;
$slider-yellow: #FFEB3B;
$slider-red: #F44336;
$slider-grey: #BDBDBD;
