// The theme colors
$color-primary: #2aacc8;
$color-light: #ffffff;
$color-dark: #000000;

$color-primary-light: #363636;
$color-primary-dark: $color-primary/2;

$color-secondary: #000;

$color-gray: #e8ebf1;
$color-gray-line: #e8fcfe;
