//imports
@import '_utilities/_variables';
@import '_utilities/_mixins';
@import '_utilities/_functions';
.m-menu {
  @include flexbox-container(flex, null, nowrap, flex-end, center, null);
  @include flexbox-itens(2, auto, 2 1 auto);
  list-style: none;
  vertical-align: middle;

  &__link {
    color: $blackColor;
    display: inline-block;
    font-weight: bold;
    @include font-size(13);
    @include rem(padding, 12);
    position: relative;
  }

  &__item {
    display: inline-block;
    @include transition(background-color .15s linear, border .15s linear);

    &:hover{
      background-color: $whiteColor;
      border-bottom: 3px solid $blueColor;
      border-top: 3px solid $blueColor;
    }

    &--subMenu {
      @extend .m-menu__item;

      > .m-menu__link {
        @include rem(padding, 12 28 12 12);

        &:after{
          content: url('../../image/icons/iconArrowDown.png');
          display: inline-block;
          position: absolute;
          right: 12px;
          top: 10px;
        }
      }

      &:hover{
      }
    }
  }
}
