@import "../main";

#galeria
{
	width:100%;
	padding:0;
	margin:0;

	.galeria
	{
		width: 100%;
		margin: 0;
		padding: 0;
		background-color: #fff;
	}
	.galeria ul
	{
		text-align: center;
		padding:0;
		margin: 0 auto;
	}
	.galeria ul li
	{
		display: inline-block;
		padding:0;
	}
	.galeria ul li a img
	{
		margin: 0 auto;
		display: block;
		width: 100%;
		padding: 4px 2px;
	}
}