/* =============================== *\
   	Home Specific Styles
   	#Slider
\* =============================== */

.slider-wrapper {
	display: block;
	position: relative;
	padding: 1.5rem 0 3rem;
	background-color: $color-primary-light;
}

.main-slider {
	margin: 0 auto;
	width: 75%;
	border: none;

	.slide {
		width: 100%;
		display: block;
		position: relative;

		&--orange {
			background-color: $slider-orange;
		}

		&--red {
			background-color: $slider-red;
		}

		&--yellow {
			background-color: $slider-yellow;
		}

		&--grey {
			background-color: $slider-grey;
		}

		&__text {
			position: absolute;
			font-size: 50px;
			max-width: 300px;
			top: 50px;
			left: 50px;
			line-height: 1.2em;

			color: #fff;
			font-family: $brand-font-family;
			font-weight: 700;

			animation: 0.5s bounceOut;
		}

		img {
			float: right;
			width: auto;
		}
	}
}

/* FlexSlider Resets */

.flexslider {
	.slides {
		.flex-active-slide{
			.slide__text{
				animation: 0.75s bounceIn;
			}
		}
	}
}

.flex-control-paging {
	li {
		a {
			width: 0.85rem;
			height: 0.85rem;
			box-shadow: none;
			background: rgba(98, 98, 98, 0.4);
			margin-right: 0.75rem;
			&.flex-active {
				background: #fff;
			}
		}
	}
}

/* =============================== *\
   	#Features Section
\* =============================== */
.section--features {
	background-color: #e8ebf1;
}

.feature {

	&__subtitle {
		display: inline-block;
		vertical-align: top;
	}

	&__icon{
		display: inline-block;
		content: '';
		width: 45px;
		height: 40px;
		background-image: url('../img/icons.png');
		background-repeat: no-repeat;

		&--pencil {
			background-position: 0 0;
		}

		&--responsive {
			background-position: -45px 0;
		}

		&--layers {
			background-position: -90px 0;
		}

		&--plane {
			background-position: -135px 0;
		}
	}
	&__info {
		margin-top: 0;
	}

	&__link {
		color: $color-primary;
		transition: $base-transition;

		font-size: 14px;
		padding-left: 12px;
		background: url('../img/arrow_right.png') 0 center no-repeat;

		&:hover {
			color: darken($color-primary, 10);
			transition: $base-transition;
		}
	}
}

.subtitle {
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 700;

	color: #000;
}

.info {
	font-size: 13px;
}

/* =============================== *\
   	#Latest Works Section
\* =============================== */




/* ==================================== *\
		Media Queries for Header
	#1 - Tablet
	#2 - Phone-portrait
\* ====================================	*/

@include respond-to('tablet') {
	.main-slider {
		.slide {
			&__text {
				font-size: 1.75rem;
				margin: 0;
				left: 1rem;
				top: 1rem;
				max-width: 34%;
			}

			&__image {
				max-width: 60%;
			}
		}
	}
}

@include respond-to('phone-portrait') {
	.main-slider {
		width: 94%;

		.slide {
			&__text {
				font-size: 1.2rem;

				left: 0.85rem;
				top: 0.85rem;
				max-width: 35%;
			}

			&__image {
				max-width: 60%;
			}
		}
	}

	.feature {
		margin-bottom: 24px;

		&__subtitle {
			font-size: 16px;
		    margin: .5rem .15rem;
		}

		&__info {
			font-size: 14px;
			text-align: justify;
			padding: 0 .5rem;
			box-sizing: border-box;
			margin: 0 0 5px 0;
		}

		&__link {
			font-size: 15px;
			margin: 0 0 10px 4%;
		}
	}
}
