section.content-home.container-fluid
	.container-home
		.jobs-desc.col-xs-12.col-sm-3.col-md-3
			span.icon.icon-lapis
			h2 Clean Theme
			p Ut nec lorem id orci convallis porta. Donec pharetra neque eu velit dictum molestie. Duis porta gravida augue sed viverra. Quisque at nulla leo, non aliquet mi. 
			span.read-more.icon
			span 
				a(href="#") Read More

		.jobs-desc.col-xs-12.col-sm-3.col-md-3
			span.icon.icon-responsive
			h2 Responsive Design
			p Ut nec lorem id orci convallis porta. Donec pharetra neque eu velit dictum molestie. Duis porta gravida augue sed viverra. Quisque at nulla leo, non aliquet mi. 
			span.read-more.icon
			span 
				a(href="#") Read More

		.jobs-desc.col-xs-12.col-sm-3.col-md-3
			span.icon.icon-list
			h2 Fully layerd PSD 
			p Ut nec lorem id orci convallis porta. Donec pharetra neque eu velit dictum molestie. Duis porta gravida augue sed viverra. Quisque at nulla leo, non aliquet mi. 
			span.read-more.icon
			span 
				a(href="#") Read More

		.jobs-desc.col-xs-12.col-sm-3.col-md-3
			span.icon.icon-fly
			h2 Ready for coding
			p Ut nec lorem id orci convallis porta. Donec pharetra neque eu velit dictum molestie. Duis porta gravida augue sed viverra. Quisque at nulla leo, non aliquet mi. 
			span.read-more.icon
			span 
				a(href="#") Read More
		
include /components/latest-job