@import "../main";

#footer
{
	width:100%;
	background-color: #e8ebf1;
	padding: 20px;

	.container-footer
	{
		max-width: 1000px;
		margin: 0 auto;
	}
	.about-us h3, .explore h3, .browse h3, .contact-us h3, .connect-us h3
	{
		width: 100%;
		color: #000;
		font-family: 'Arial';
		@include font-size(13);
		text-transform: uppercase;
		font-weight: bold;
		margin-bottom: 20px;
		margin-top: 20px;
	}
	.about-us p, .contact-us p
	{
		color: #000;
		font-family: 'Arial';
		@include font-size(13);
		line-height: 20px;
	}
	.contact-us strong
	{
		font-weight: bold;
		color: #000;
		font-family: 'Arial';
		@include font-size(13);
		line-height: 20px;
	}
	.contact-us small
	{
		color: #000;
		font-family: 'Arial';
		@include font-size(13);
		line-height: 20px;
	}
	.explore ul li a, .browse ul li a
	{
		color: #000;
		font-family: 'Arial';
		@include font-size(13);
		line-height: 20px;
		text-decoration: none;
		&:hover
		{
			color: #81e4ed;
		}
	}
	.connect-us
	{
		padding:0 !important;
	}
	.connect-us ul li
	{
		display: inline-block;
		opacity: 0.8;
		padding:0;
		margin:0;

		&:hover
		{
			opacity: 1;
		}
	}
	.social-icons
	{
		padding:0;
		margin: 0;
	}
	.connect-us .icon-facebook
	{
		@include sprite($icon-facebook);
		display: block;
	}
	.connect-us .icon-dribbble
	{
		@include sprite($icon-dribbble);
		display: inline-block;
	}
	.connect-us .icon-pinterest
	{
		@include sprite($icon-pinterest);
		display: inline-block;
	}
	.connect-us .icon-linkedin
	{
		@include sprite($icon-linkedin);
		display: inline-block;
	}
	.connect-us .icon-skype
	{
		@include sprite($icon-skype);
		display: inline-block;
	}
	.connect-us .icon-share
	{
		@include sprite($icon-share);
		display: inline-block;
	}
	.footer-bottom
	{
		width: 100%;
		margin:30px 0;
		padding:0;
	}
	.footer-bottom p
	{
		padding:0 10px 0 0;
		color: #000;
		font-family: 'Arial';
		@include font-size(13);
		line-height: 20px;
	}
	.logo-footer
	{
		@include sprite($logotipo);
		position: absolute;
		right: 0;
		padding: 0;
		top: 50%;
		transform: translateY(-50%); 
	}
}