$menu-mobile: -0px -0px 40px 40px;
$medida: -0px -40px 153px 55px;
$auc_logotipo: -0px -95px 199px 129px;
$fotos: -0px -224px 360px 165px;
$logotipo_omer: -0px -389px 189px 189px;
$planta_img_header: -0px -578px 286px 207px;
@mixin sprite-width($sprite) {
  width: nth($sprite, 3);
}
@mixin sprite-height($sprite) {
  height: nth($sprite, 4);
}
@function sprite-width($sprite) {
  @return nth($sprite, 3);
}
@function sprite-height($sprite) {
  @return nth($sprite, 4);
}
@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 1);
  $sprite-offset-y: nth($sprite, 2);
  background-position: $sprite-offset-x $sprite-offset-y;
}
@mixin sprite($sprite, $display: block) {
  @include sprite-position($sprite);
  background-repeat: no-repeat;
  overflow: hidden;
  display: $display;
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
.icon {
  background-image: url('../images/sprite.png');
}