@import '_utilities/_extends';

//estilos para onde não tiver suporte a flexbox
.no-flexbox.no-flexboxlegacy {
  .l-navbar {
    @extend .e-clearfix;
  }

  .m-menu {
    display: inline-block;
    float: right;
    @include rem(max-width, 622);
    @include rem(margin, 38 0);
  }

  .m-boxA {
    @extend .e-clearfix;

    &__item {
      float: left;
    }
  }

  .m-boxB__slideBox{
    @extend .e-clearfix;

    &__wrapper{
      float: left;
    }
  }

  .m-boxC {
    @extend .e-clearfix;

    &__sectionA,
    &__sectionB {
      float: left;
    }
  }
}
