//variables
$clear:both;
$font-family: Arial, sans-serif;

$left: left;
$right: right;

$path-to-img : "../images";


/* ----- General Styling ----- */

body {
  font-family: $font-family;
}

.container, .latest_works, .bottom_content, .download {
  margin: auto;
  width: 1000px;
}

.bold_text {
  font-weight: bold;
}

.blue_text {
  color: #2aacc8;
  font-size: 15px;
}

/* ----- General Styling ----- */


/* ----- Header Styling ----- */

header {
    background: #e8ebf1;
    height: 120px;
}

h1 {
  float: $left;
  margin-top: 37px;

  a{
    background: url(#{$path-to-img}/logo.png) no-repeat;
    display: block;
    height: 37px;
    text-indent: -9999px;
    width: 148px;
  }

}
/* ----- Header Styling ----- */

/* ----- Main Navigation Styling ----- */

.main_menu {
    float: $right;
    margin-top: 54px;
}

.first_list {
    float: left;
    margin: 0 14px;
}

.main_menu_first {
    color: #000;
    font-size: 13px;
    font-weight: bold;
    padding: 8px 8px;
    text-transform: uppercase;
    &:hover{
      border-top: 5px solid #2aacc8;
    }
}

.with_dropdown {
    position: relative;

    ul{
      background: #fff;
      border-bottom: 5px solid #2aacc8;
      padding: 12px 0;
      position: absolute;
      top: 24px;
      visibility: hidden;
      width: 197px;
      z-index: 999;
    }

    li a{
       display: block;
    }

    .main_menu_first {
      background: url(#{$path-to-img}/arrow_down.png) no-repeat 92%;
      padding-right: 23px;
    }

    &:hover .main_menu_first {
      
      background: #fff url(#{$path-to-img}/arrow_down.png) no-repeat 92%;
      border-top: 5px solid #2aacc8;
      color: #2aacc8;
    }

}


.first_list:hover.first_list ul {
    visibility: visible;
}

.second_list {
    margin: 0 5px;
    padding: 10px;
}

.second_list_border {
    border-bottom: 1px solid #e7e7e7;
}

.main_menu_second {
    color: #000;
    font-size: 13px;
    text-transform: capitalize;

    &:hover{
      color: #2aacc8;
    }
}

.main_current {
    border-top: 5px solid #2aacc8;
}

/* ----- Main Navigation Styling ----- */

/* ----- Footer Styling ----- */

footer {
    background: #e8ebf1;
    border-top: 1px solid #d9d9d9;
    clear: both;
    height: 320px;
    margin-top: 40px;

    p, a{
      color: #363636;
      font-size: 14px;
    }

    h4 {
      font-size: 15px;
      font-weight: bold;
      text-transform: uppercase;
      margin: 0 0 21px 0;
    }
}

.footer_info {
    float: $left;
    margin: 32px 0 40px 0;
}

.footer_about{
  margin-right: 64px;
  width: 238px;

  p{
    line-height: 17px;
  }
}

.footer_contact p {
    line-height: 17px;
}

.footer_explore{
  margin-right: 64px; 

  li{
    margin: 12px 0;

    a{
      text-transform: capitalize;

      &:hover{
        color: #2aacc8;
      }
    }
  }

}


.footer_browse {
  margin-right: 64px;   

  li {
    margin: 12px 0;

    a{
      text-transform: capitalize;

      &:hover{
        color: #2aacc8;
      } 
    }
  }

}


.footer_connect {
    float: $right;
    width: 213px;

    h4{
      margin-left: 24px;
    }

    a{
      display: block;
      float: $left;
      height: 51px;
      margin: 0 0 10px 18px;
      text-indent: -9999px;
      width: 53px;
    }
}

.facebook {
    background: url(#{$path-to-img}/facebook_icon.png) no-repeat;
}

.dribbble {
    background: url(#{$path-to-img}/dribbble_icon.png) no-repeat;
}

.pinterest {
    background: url(#{$path-to-img}/pinterest_icon.png) no-repeat;
}

.linkedin {
    background: url(#{$path-to-img}/linkedin_icon.png) no-repeat;
}

.skype {
    background: url(#{$path-to-img}/skype_icon.png) no-repeat;
}

.sharethis {
    background: url(#{$path-to-img}/harethis_icon.png) no-repeat;
}


p.copyright {
  line-height: 17px;
  clear: both;
  float: $left;
  font-size: 13px;
  
}


.footer_logo {
    background: url(#{$path-to-img}/logo.png) no-repeat;
    display: block;
    float: $right;
    height: 37px;
    text-indent: -9999px;
    width: 148px;
}

/* ----- Footer Styling ----- */