/* ----- Carousel Styling ----- */

#carrossel {
    overflow: hidden;
    width: 1000px;
    border-bottom: 1px solid #dfe1e5;
    border-top: 1px solid #dfe1e5;
    clear: left;
    height: 220px;

    ul li {
        width: 220px;
        height: 160px;
        float: left;
        margin: 30px 15px;
    }

    li:hover a{
        visibility: visible;
    }
}

#menu-carrossel {
    float: right;
    margin-top: 20px;
}
