//variables
$clear:both;
$font-family: Arial, sans-serif;

$left: left;
$right: right;

$path-to-img : "../images";


/* ----- Slideshow Styling ----- */

#slideshow_area {
    background: #81e4ed url(#{$path-to-img}/banner_shadow.png) repeat-x;
    border-top: 1px solid #6ec2ca;
    padding: 19px 0 28px 0;
}

.mid_content {
    border-bottom: 1px solid #d9d9d9;
    background: #e8ebf1;
    height: 300px;
}


/* ----- Slideshow Styling ----- */

/* ----- Home Mid Content Styling ----- */

.mid_content_info {
  float: $left;
  font-size: 13px;
  margin-top: 60px;
  width: 220px;

  h2{
    font-size: 15px;
    font-weight: bold;
    height: 28px;
    margin-bottom: 15px;
    padding: 12px 0 0 59px;
  }

  p {
    color: #363636;
    line-height: 20px;
    margin-bottom: 22px;
  }

  a {
    color: #2aacc8;

    img {
     margin: 0 8px 1px 0;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}

.mid_content_space {
    margin-right: 40px;
}


#clean {
    background: url(#{$path-to-img}/pen_icon.png) no-repeat left;
}

#responsive {
    background: url(#{$path-to-img}/screen_icon.png) no-repeat left;
}

#fully {
    background: url(#{$path-to-img}/layer_icon.png) no-repeat left;
}

#ready {
    background: url(#{$path-to-img}/paperplane_icon.png) no-repeat left;
}

.latest_works {
    clear: left;

  h3 {
    background: url(#{$path-to-img}/cursor_icon.png) no-repeat left;
    float: left;
    font-size: 15px;
    font-weight: bold;
    height: 16px;
    margin: 19px 0 15px 0;
    padding: 8px 0 0 38px;
  }
}

#carousel_nav {
  float: $right;
  margin-top: 20px;

  a {
    margin-left: 6px;
  }
}

#carousel_wrapper {
  border-top: 1px solid #dfe1e5;
  border-bottom: 1px solid #dfe1e5;
  clear: left;
  height: 220px;

  li {
    float: left;
    margin: 30px 15px;
  }
}


.testimonials {
  clear: left;
  float: $left;
  width: 430px;
  
  h3 {
    background: url(#{$path-to-img}/speechcloud_icon.png) no-repeat left;
    font-size: 15px;
    font-weight: bold;
    height: 18px;
    margin: 19px 0 15px 0;
    padding: 5px 0 0 38px;
  }
  p {
    color: #363636;
    font-size: 14px;
    line-height: 24px;
  }
}

.testimonial_name {
    font-style: italic;
    font-weight: bold;
}

.clients {
    float: $right;
    margin-bottom: 40px;

  h3 {
    background: url(#{$path-to-img}/people_icon.png) no-repeat left;
    font-size: 15px;
    font-weight: bold;
    height: 16px;
    margin: 19px 0 15px 0;
    padding: 4px 0 0 38px;
  }

  ul {
    background: #e8ebf1;
    height: 200px;
    width: 480px;
  }
  
  img {
    float: $left;
    margin: 1px;
  }
}

.download {
    background: #e8fcfe;
    border: 1px solid #81e4ed;
    clear: both;
    height: 78px;
    padding: 30px 30px;
    width: 940px;

  p {
    color: #363636;
    float: $left;
    font-size: 16px;
    line-height: 26px;
    width: 608px;
  }

  a {
    background: url(#{$path-to-img}/download_button.png) no-repeat;
    display: block;
    color: #0d0707;
    font-size: 18px;
    font-weight: bold;
    float: right;
    height: 42px;
    margin: 8px 8px 0 0;
    padding: 22px 0 0 72px;
    width: 172px;

    &:hover {
      color: #fff;
    }
  }
}
/* ----- Home Mid Content Styling ----- */