$cinza: #e8ebf1;
$azulClaro: #81e4ed;
$azulMedio: #6ec2ca;
$azulEscuro: #2aacc8;
.animated {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-moPor: both;
    animation-fill-moPor: both;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset, 0 0 8px rgba(82, 168, 236, 0.6);
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
//mixins 
@mixin sombra() {
    -moz-box-shadow: $boxShadow;
    -webkit-box-shadow: $boxShadow;
    box-shadow: $boxShadow;
}

@mixin radius($radius: 3px) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin rotate($rotate: 45deg) {
    -webkit-transform: rotate($rotate);
    -moz-transform: rotate($rotate);
    -o-transform: rotate($rotate);
    writing-moPor: lr-tb;
}

@mixin anima() {
    transition: All 100ms linear;
    -webkit-transition: All 100ms linear;
    -moz-transition: All 100ms linear;
    -o-transition: All 100ms linear;
}
header{
    background: $cinza;
    width: 100%;
}
.container{
    max-width: 1030px;
}
header{
    height: 120px;
    border-bottom: 1px solid $azulMedio;
    
    .container{
        max-width: 1000px;
        display: table;
        width: 100%;
        height: 120px;

        h1{
            margin: 0;
            display: table-cell;
            vertical-align: middle;
            height: 37px;
            width: 148px;
            overflow: hidden;
            text-indent: -999px;
            background-image: url(../img/logo.png);
            background-position: center;
            background-repeat: no-repeat;

            a{
                display: block;
                width: 100%;
                height: 100%;
            }
        }
        nav{
            display: table-cell;
            height: 40px;
            vertical-align: middle;
            margin-right: 0px;
            text-align: right;
            > ul{
                padding: 0px;
                margin: 0px;

                > li{
                    display: inline-block;
                    padding: 0px 15px;
                    height: auto;
                    line-height: 40px;
                    border-top: 5px solid transparent;
                    position: relative;

                    > a{
                        color: #000;
                        text-decoration: none;
                        font-size: 12px;
                        font-weight: 600;
                        text-transform: uppercase;
                        position: relative;
                        display: block;
                        line-height: 40px;
                        height: auto;

                        &.glyphicon {
                            padding-right: 15px;
                            &:after{
                                content: '\e114';
                                position: absolute;
                                right: 0px;
                                color: #000;
                                top: 2px;
                                font-size: 8px;

                            }
                        }
                        
                    }
                    &:hover{
                        background: #FFF;
                        border-top: 5px solid $azulEscuro;

                        .submenu{
                            display: block;

                        }
                    }

                    .submenu{
                        display: none;
                        position: absolute;
                        top: 99%;
                        background: #FFF;
                        width: 200%;
                        left: 0px;
                        background: #FFF;
                        border-bottom: 5px solid $azulEscuro;
                        text-align: left;
                        margin: 0px;
                        padding: 0px 7px;
                        padding-top: 15px;
                        @include anima();
                        z-index: 99;
                        
                            
                        li{
                            border-bottom: 1px solid #f1f1f1;
                            line-height: 36px;
                            height: auto;
                            width: 100%;
                            list-style: none;
                            padding-left: 10px;
                            @include anima();
                            &:hover{
                                @include anima();
                                padding-left: 12px;

                                a{
                                    color: $azulEscuro;
                                    text-decoration: none; 
                                }
                            }
                            a{
                                font-size: 12px;
                                color: #000;
                                display: block;
                            }
                            &:last-child{
                                margin-bottom: 0px;
                            }
                        }
                    }
                }
            }
        }
    }
    
}
.bgSlider{
    background: $azulClaro;
    width: 100%;
    height: 510px;
    padding-top: 25px;
    padding-bottom: 15px;

    #slider{
        max-height: 440px;
        position: relative;
        .owl-controls{
            width: 100%;
            position: absolute;
            bottom: -35px;
            text-align: center;
            .owl-dots{
                width: auto;
                margin: auto;

                .owl-dot{
                    display: inline-block;
                    @include radius(100%);
                    height: 15px;
                    width: 15px;
                    background: #71a3a7;
                    margin: 0 7px;

                    &.active{
                        background: #FFF;
                    }
                }
            }
        }
        a{
            text-decoration: none;
            &:hover{
               text-decoration: none; 
               .text{
                    @include anima();
                    margin-left: 70px;
                }
            }

        }
        .item{
            height: 440px;
            position: relative;
            background-position: center;
            background-repeat: no-repeat;
            .text{
                max-height: 440px;
                height: 100%;
                display: table;
                margin-left: 60px;
                @include anima();
            }
            p{
                margin: 0px;
                height: auto;
                display: table-cell;
                vertical-align: middle;
                color: #FFF;
                max-width: 300px;
                font-size: 46px;
                line-height: 56px;
                font-weight: 600;

            }
        }
        a.item + a.item{
            display: none;
        }
    }
}
.faixaCinza{
    background: $cinza;
    padding-top: 60px;
    padding-bottom: 50px;
    border-bottom: 1px solid #d9d9d9;
    .container{
        max-width: 1030px;
    }
    div{

        .titulo{
            display: block;
            margin-bottom: 20px;
            span{
                display: inline-block;
                background-color: $azulEscuro;
                height: 40px;
                width: 40px;
                @include radius(100%);
                margin-right: 15px;
                background-image: url(../img/sprite.png);
                background-repeat: no-repeat;
                &.caneta{
                    background-position: 11px -35px;
                }
                &.tela{
                    background-position: 11px -35px;
                }
                &.psd{
                    background-position: 11px -35px;
                }
                &.plane{
                    background-position: 11px -35px;
                }
            }
            h2{
                margin: 0px;
                display: inline-block;
                font-size: 15px;
                font-weight: 600;
                text-transform: uppercase;
                line-height: 40px;
                vertical-align: top;
            }
        }
        p{
            font-size: 12px;
            line-height: 18px;
            font-weight: 400;
        }
        a{
            color: $azulEscuro;
            font-size: 12px;
             @include anima();
            &:hover{
                text-decoration: none;
                padding-left: 5px;
                @include anima();
            }
            span{
                color: #000;
                font-size: 8px;
                top: -1px;
            }
        }
        
    }
}
.portfolio{
    padding-top: 20px;
    padding-bottom: 20px;

    .container{
        max-width: 1030px;
       

        >div{
             
        }
    }
    .head{
        width: 100%;
        display: block;
        padding-bottom: 15px;
        border-bottom: 1px solid #dfe1e5;
        margin-bottom: 20px;
        h2{
            font-weight: 600;
            text-transform: uppercase;
            margin: 0px;
            font-size: 15px;
            
            display: inline-block;
            vertical-align: middle;
            
        }
        span{
            background-image: url(../img/sprite.png);
            background-repeat: no-repeat;
            background-position: 0px 0px;
            display: inline-block;
            vertical-align: top;
            height: 25px;
            width: 35px;
        }
    }
    .trabalhos{
        position: relative;
        padding-bottom: 40px;
        border-bottom: 1px solid #dfe1e5;
        .owl-controls{
            position: absolute;
            top: -61px;
            right: 0px;
            .owl-nav{
                .owl-prev{
                    display: inline-block;
                    @include radius(100%);
                    background: #81e4ed;
                    margin-right: 5px;
                    height: 20px;
                    width: 20px;
                    font-weight: bold;
                    font-size: 13px;
                    text-align: center;
                    &:hover{
                        background: $azulEscuro;
                        color: #FFF;
                    }
                }
                .owl-next{
                    display: inline-block;
                    @include radius(100%);
                    background: #81e4ed;
                    height: 20px;
                    width: 20px;
                    font-weight: bold;
                    font-size: 13px;
                    text-align: center;
                    &:hover{
                        background: $azulEscuro;
                        color: #FFF;
                    }
                }
            }
        }
        .item{
            position: relative;
            &:hover{
                .acoes{
                    display: block;
                }
            }
            .acoes{
                position: absolute;
                width: 100%;
                line-height: 80px;
                height: auto;
                bottom: 0px;
                left: 0px;
                background: #2aacc8;
                text-align: center;
                color: #FFF;
                display: none;
                a{
                    color: #FFF;
                    background-image: url(../img/link.png);
                    background-repeat: no-repeat;
                    background-position: 0px 0px;
                    width: 37px;
                    height: 25px;
                    overflow: hidden;
                    text-indent: -999px;
                    display: inline-block;
                    margin: 0 5px;

                    &:last-child{
                        background-position: -62px 0px;
                    }
                }
            }
        }
    }
    
}
.depoimentosClientes{
    margin-bottom: 40px;
    &.container{
        max-width: 1030px;
    }
    ul{
        padding: 0px;
        margin: 0px;

        li{
            list-style: none;
            float: left;
            width: 33.333%;
            text-align: center;
            border: 1px solid #e8ebf1;
            border-right: 0px;
            border-bottom: 0px;
            -moz-box-shadow:    inset 0 0 10px #f1f1f1;
           -webkit-box-shadow: inset 0 0 10px #f1f1f1;
           box-shadow:         inset 0 0 10px #f1f1f1;
           height: 100px;
           @include anima();

           &:hover{
            @include anima();
            -moz-box-shadow:    inset 0 0 10px $azulClaro;
           -webkit-box-shadow: inset 0 0 10px $azulClaro;
           box-shadow:         inset 0 0 10px $azulClaro;
           }
            &:nth-child(3n+3){
                border-right: 1px solid #e8ebf1;
            }
            &:nth-child(n+4){
                border-bottom: 1px solid #e8ebf1;
            }
            a{
                display: block;
                height: 100px;
                width: 100%;
                text-align: center;

                img{
                    margin: auto;
                    vertical-align: middle;
                    width: auto;
                    height: auto;
                    margin-top: 16px;
                }
            }

        }
    }
    .titulo{
        display: block;
        span{
            display: inline-block;
            height: 40px;
            width: 35px;
            @include radius(100%);
            background-image: url(../img/sprite.png);
            background-repeat: no-repeat;
            &.depoimentos{
                background-position: -40px 5px;
            }
            &.clientes{
                background-position: -104px 5px;
            }
        }
        h2{
            margin: 0px;
            display: inline-block;
            font-size: 15px;
            font-weight: 600;
            text-transform: uppercase;
            line-height: 40px;
            vertical-align: top;
        }
    }
    p{
        font-size: 12px;
        line-height: 22px;
        font-weight: 400;

        strong{
            font-weight: 600;
            font-style: italic;
        }
    }
}
.info{
    .container{
        max-width: 970px;
        background: #e8fcfe;
        border: 1px solid #81e4ed;
        height: 140px;
        display: table;
        padding: 0 25px;
        @include anima();
        &:hover{
            border-bottom: 5px solid $azulEscuro;
            @include anima();
            a{
                text-decoration: none;
            }
        }
        p{
            display: table-cell;
            vertical-align: middle;
            height: auto;
            font-size: 15px;
            line-height: 24px;
            margin: 0px;
            padding-right: 30px;
        }
        a{
            display: table-cell;
            vertical-align: middle;
            height: auto;
            font-size: 14px;
            line-height: 24px;
            margin: 0px;
            width: 244px;
            height: 64px;
            background-image: url(../img/botaoHome.png);
            background-repeat: no-repeat;
            background-position: center;
            color: #000;
            font-size: 16px;
            font-size: 15px;
            font-weight: 600;
            text-indent: 75px;
            text-transform: uppercase;

        }
    }
}
footer{
    border-top: 1px solid #d9d9d9;
    margin-top: 40px;
    background: $cinza;
    width: 100%;
    min-height: 150px;
    padding: 35px 0;

        .container{
            max-width: 1000px;
        }
    ul{
        width: 100%;
        height: auto;
        display: table;
        margin: 0px;
        padding: 0px;
        margin-bottom: 40px;
        li{
            display: table-cell;
            vertical-align: top;
            padding-right: 50px;
            &:last-of-type{
                padding-right: 0px;
            }
            &:nth-child(1){
                max-width: 235px;
            }
            p,strong,span,a{
                display: block;
                font-size: 13px;
                color: #363636;
            }
            a{
                margin-bottom: 7px;
                &:hover{
                    text-decoration: none;
                    color: $azulEscuro;
                }
            }



            h3{
                margin:0px;
                margin-bottom: 15px;
                text-transform: uppercase;
                font-size: 14px;
                color: #000;
            }
            &.sociais{
                a{
                    display:block;
                    float: left;
                    width: 50px;
                    height: 50px;
                    background-image: url(../img/sociais.png);
                    background-repeat: no-repeat;
                    margin-right: 10px;
                    &:nth-child(3n+3){
                        margin-right: 0px;
                    }
                    &:nth-child(4){
                        clear: left;
                    }
                    &.drib{
                        background-position: -71px 0px;
                    }
                    &.pin{
                        background-position: -141px 0px;
                    }
                    &.in{
                        background-position: 0px -60px;
                    }
                    &.skype{
                        background-position: -71px -60px;
                    }
                    &.whats{
                         background-position: -141px -60px;
                    }
                }
            }
        }
    }
    .copyright{
        font-size: 12px;
        line-height: 20px;
        float: left;
        width: 65%;
    }
    .logoFooter{
        float: right;
    }
}
@media screen and (max-width: 460px) {
    header .container h1{
        display: block;
        width: auto;
        text-align: center;
        margin: auto;
        width: 150px;
        float: none;
        height: 100px;
    }
    header .container nav{
        display: none;

    }
    .bgSlider{
        height: auto;
        padding-bottom: 25px;
    }
    .bgSlider #slider .item{
        height: 200px;
        background-size: cover;
    }
    .bgSlider #slider .item .text{
        margin-left: 10px;
        width: 90%;
    }
    .bgSlider #slider .owl-controls{
        display: none;
    }
    .bgSlider #slider .item p{
        font-size: 16px;
        line-height: 26px;
        vertical-align: bottom;
        padding-bottom: 25px;
    }
    .faixaCinza div a{
        margin-bottom: 30px;
        display: block;
        border-bottom: 1px solid #f1f1f1;
        padding-bottom: 20px;
    }
    .depoimentosClientes ul li{
        width: 100%;
        float: none;
        border: 1px solid #f1f1f1;
        margin-bottom: 10px;
    }
    .info{
        margin: auto;
        width: 95%;
    }
    .info .container{
        text-align: center;
        padding: 15px;
    }
    .info .container p{
        display: block;
        text-align: center;
        width: 100%;
        padding: 0px;
        margin-bottom: 15px;
        font-size: 12px;
    }
    .info .container a{
        display: block;
        margin: auto;
        line-height: 54px;
        text-indent: 35px;
    }
    footer ul li{
        display: none;
        &:last-of-type{
            display: block;
            width: 100%;
            text-align: center;
        }
    }
    footer ul li.sociais a:nth-child(3n+3){
        margin-right: 10px;
    }
    footer ul li.sociais a:nth-child(4){
        clear: none;
    }
    footer .copyright{
        float: none;
        width: 100%;
        text-align: center;
    }
    footer .logoFooter{
        display: none;
    }
    footer ul li.sociais a{
        display: inline-block;
        float: none;
        margin: 0 10px 10px 10px;
    }
}