#galeria
  .galeria.row
    ul.row
      li.col-xs-6.col-sm-2.col-lg-2
        a(href="")
          img(src="assets/images/foto01.jpg", alt="Fotos")
      li.col-xs-6.col-sm-2.col-lg-2
        a(href="")
          img(src="assets/images/foto01.jpg", alt="Fotos")
      li.col-xs-6.col-sm-2.col-lg-2
        a(href="")
          img(src="assets/images/foto01.jpg", alt="Fotos")
      li.col-xs-6.col-sm-2.col-lg-2
        a(href="")
          img(src="assets/images/foto01.jpg", alt="Fotos")
      li.col-xs-6.col-sm-2.col-lg-2
        a(href="")
          img(src="assets/images/foto01.jpg", alt="Fotos")
      li.col-xs-6.col-sm-2.col-lg-2
        a(href="")
          img(src="assets/images/foto01.jpg", alt="Fotos")