.latest-works
	.title-latest.bx-pager.bx-default-pager
		span.icon.seta
		h2 LATEST WORKS
		span.icon.left#slider-prev.bx-prev
		span.icon.right#slider-next

	ul.slider1
			li
				img(src="assets/images/job01.jpg", alt="LATEST JOB")
			li
				img(src="assets/images/job02.jpg", alt="LATEST JOB")
			li
				img(src="assets/images/job03.jpg", alt="LATEST JOB")
			li
				img(src="assets/images/job04.jpg", alt="LATEST JOB")
			li
				img(src="assets/images/job01.jpg", alt="LATEST JOB")