section#reservas.container-fluid
	.container-reservas
		h3
			| Ver no Mapa
		h2
			| Espelho de reservas

		//- BLOCO A 

		.wrapper-predio.col-xs-12.col-sm-4.col-lg-3
			h2.bloco
				| Bloco A
			.predio.row
				span
				ul
					li.col-xs-3.col-sm-3.col-lg-3
						| 11
					li.col-xs-3.col-sm-3.col-lg-3
						| 12
					li.col-xs-3.col-sm-3.col-lg-3
						| 13
					li.col-xs-3.col-sm-3.col-lg-3.no-margin
						| 14
					li.col-xs-3.col-sm-3.col-lg-3
						| 21
					li.col-xs-3.col-sm-3.col-lg-3
						| 22
					li.col-xs-3.col-sm-3.col-lg-3
						| 23
					li.col-xs-3.col-sm-3.col-lg-3.no-margin
						| 24
					li.col-xs-3.col-sm-3.col-lg-3
						| 31
					li.col-xs-3.col-sm-3.col-lg-3
						| 32
					li.col-xs-3.col-sm-3.col-lg-3
						| 33
					li.col-xs-3.col-sm-3.col-lg-3.no-margin
						| 34
					li.col-xs-3.col-sm-3.col-lg-3
						| 41
					li.col-xs-3.col-sm-3.col-lg-3
						| 42
					li.col-xs-3.col-sm-3.col-lg-3
						| 43
					li.col-xs-3.col-sm-3.col-lg-3.no-margin
						| 44
					li.col-xs-3.col-sm-3.col-lg-3
						| 51
					li.col-xs-3.col-sm-3.col-lg-3
						| 52
					li.col-xs-3.col-sm-3.col-lg-3
						| 53
					li.col-xs-3.col-sm-3.col-lg-3.no-margin
						| 54
					li.col-xs-3.col-sm-3.col-lg-3
						| 61
					li.col-xs-3.col-sm-3.col-lg-3
						| 62
					li.col-xs-3.col-sm-3.col-lg-3
						| 63
					li.col-xs-3.col-sm-3.col-lg-3.no-margin
						| 64
					li.col-xs-3.col-sm-3.col-lg-3
						| 71
					li.col-xs-3.col-sm-3.col-lg-3.red
						| 72
					li.col-xs-3.col-sm-3.col-lg-3.red
						| 73
					li.col-xs-3.col-sm-3.col-lg-3.no-margin
						| 74

		//- BLOCO B 

		.wrapper-predio.col-xs-12.col-sm-4.col-lg-3
			h2.bloco
				| Bloco B
			.predio.row
				span
				ul
					li.col-xs-3.col-sm-3.col-lg-3
						| 11
					li.col-xs-3.col-sm-3.col-lg-3
						| 12
					li.col-xs-3.col-sm-3.col-lg-3
						| 13
					li.col-xs-3.col-sm-3.col-lg-3.no-margin
						| 14
					li.col-xs-3.col-sm-3.col-lg-3
						| 21
					li.col-xs-3.col-sm-3.col-lg-3
						| 22
					li.col-xs-3.col-sm-3.col-lg-3
						| 23
					li.col-xs-3.col-sm-3.col-lg-3.no-margin
						| 24
					li.col-xs-3.col-sm-3.col-lg-3
						| 31
					li.col-xs-3.col-sm-3.col-lg-3
						| 32
					li.col-xs-3.col-sm-3.col-lg-3
						| 33
					li.col-xs-3.col-sm-3.col-lg-3.no-margin
						| 34
					li.col-xs-3.col-sm-3.col-lg-3
						| 41
					li.col-xs-3.col-sm-3.col-lg-3
						| 42
					li.col-xs-3.col-sm-3.col-lg-3
						| 43
					li.col-xs-3.col-sm-3.col-lg-3.no-margin
						| 44
					li.col-xs-3.col-sm-3.col-lg-3
						| 51
					li.col-xs-3.col-sm-3.col-lg-3
						| 52
					li.col-xs-3.col-sm-3.col-lg-3
						| 53
					li.col-xs-3.col-sm-3.col-lg-3.no-margin
						| 54
					li.col-xs-3.col-sm-3.col-lg-3
						| 61
					li.col-xs-3.col-sm-3.col-lg-3
						| 62
					li.col-xs-3.col-sm-3.col-lg-3
						| 63
					li.col-xs-3.col-sm-3.col-lg-3.no-margin
						| 64
					li.col-xs-3.col-sm-3.col-lg-3
						| 71
					li.col-xs-3.col-sm-3.col-lg-3.red
						| 72
					li.col-xs-3.col-sm-3.col-lg-3
						| 73
					li.col-xs-3.col-sm-3.col-lg-3.no-margin
						| 74

		//- BLOCO C 

		.wrapper-predio.col-xs-12.col-sm-4.col-lg-3
			h2.bloco
				| Bloco C
			.predio.row
				span
				ul
					li.col-xs-3.col-sm-3.col-lg-3.red
						| 11
					li.col-xs-3.col-sm-3.col-lg-3.red
						| 12
					li.col-xs-3.col-sm-3.col-lg-3.red
						| 13
					li.col-xs-3.col-sm-3.col-lg-3.no-margin.red
						| 14
					li.col-xs-3.col-sm-3.col-lg-3.red
						| 21
					li.col-xs-3.col-sm-3.col-lg-3.red
						| 22
					li.col-xs-3.col-sm-3.col-lg-3.red
						| 23
					li.col-xs-3.col-sm-3.col-lg-3.no-margin.red
						| 24
					li.col-xs-3.col-sm-3.col-lg-3.red
						| 31
					li.col-xs-3.col-sm-3.col-lg-3.red
						| 32
					li.col-xs-3.col-sm-3.col-lg-3.red
						| 33
					li.col-xs-3.col-sm-3.col-lg-3.no-margin.red
						| 34
					li.col-xs-3.col-sm-3.col-lg-3.red
						| 41
					li.col-xs-3.col-sm-3.col-lg-3.red
						| 42
					li.col-xs-3.col-sm-3.col-lg-3.red
						| 43
					li.col-xs-3.col-sm-3.col-lg-3.no-margin.red
						| 44
					li.col-xs-3.col-sm-3.col-lg-3.red
						| 51
					li.col-xs-3.col-sm-3.col-lg-3.red
						| 52
					li.col-xs-3.col-sm-3.col-lg-3.red
						| 53
					li.col-xs-3.col-sm-3.col-lg-3.no-margin.red
						| 54
					li.col-xs-3.col-sm-3.col-lg-3.red
						| 61
					li.col-xs-3.col-sm-3.col-lg-3.red
						| 62
					li.col-xs-3.col-sm-3.col-lg-3.red
						| 63
					li.col-xs-3.col-sm-3.col-lg-3.no-margin.red
						| 64
					li.col-xs-3.col-sm-3.col-lg-3.red
						| 71
					li.col-xs-3.col-sm-3.col-lg-3.red
						| 72
					li.col-xs-3.col-sm-3.col-lg-3.red
						| 73
					li.col-xs-3.col-sm-3.col-lg-3.no-margin.red
						| 74

		//- BLOCO D 

		.wrapper-predio.col-xs-12.col-sm-4.col-lg-3
			h2.bloco
				| Bloco D
			.predio.row
				span
				ul
					li.col-xs-3.col-sm-3.col-lg-3
						| 11
					li.col-xs-3.col-sm-3.col-lg-3
						| 12
					li.col-xs-3.col-sm-3.col-lg-3
						| 13
					li.col-xs-3.col-sm-3.col-lg-3.no-margin
						| 14
					li.col-xs-3.col-sm-3.col-lg-3
						| 21
					li.col-xs-3.col-sm-3.col-lg-3
						| 22
					li.col-xs-3.col-sm-3.col-lg-3
						| 23
					li.col-xs-3.col-sm-3.col-lg-3.no-margin
						| 24
					li.col-xs-3.col-sm-3.col-lg-3
						| 31
					li.col-xs-3.col-sm-3.col-lg-3
						| 32
					li.col-xs-3.col-sm-3.col-lg-3
						| 33
					li.col-xs-3.col-sm-3.col-lg-3.no-margin
						| 34
					li.col-xs-3.col-sm-3.col-lg-3
						| 41
					li.col-xs-3.col-sm-3.col-lg-3
						| 42
					li.col-xs-3.col-sm-3.col-lg-3
						| 43
					li.col-xs-3.col-sm-3.col-lg-3.no-margin
						| 44
					li.col-xs-3.col-sm-3.col-lg-3
						| 51
					li.col-xs-3.col-sm-3.col-lg-3
						| 52
					li.col-xs-3.col-sm-3.col-lg-3
						| 53
					li.col-xs-3.col-sm-3.col-lg-3.no-margin
						| 54
					li.col-xs-3.col-sm-3.col-lg-3
						| 61
					li.col-xs-3.col-sm-3.col-lg-3
						| 62
					li.col-xs-3.col-sm-3.col-lg-3
						| 63
					li.col-xs-3.col-sm-3.col-lg-3.no-margin
						| 64
					li.col-xs-3.col-sm-3.col-lg-3
						| 71
					li.col-xs-3.col-sm-3.col-lg-3
						| 72
					li.col-xs-3.col-sm-3.col-lg-3
						| 73
					li.col-xs-3.col-sm-3.col-lg-3.no-margin
						| 74

		//- BLOCO E 

		.wrapper-predio.col-xs-12.col-sm-4.col-lg-3
			h2.bloco
				| Bloco E
			.predio.row
				span
				ul
					li.col-xs-3.col-sm-3.col-lg-3
						| 11
					li.col-xs-3.col-sm-3.col-lg-3
						| 12
					li.col-xs-3.col-sm-3.col-lg-3
						| 13
					li.col-xs-3.col-sm-3.col-lg-3.no-margin
						| 14
					li.col-xs-3.col-sm-3.col-lg-3
						| 21
					li.col-xs-3.col-sm-3.col-lg-3
						| 22
					li.col-xs-3.col-sm-3.col-lg-3
						| 23
					li.col-xs-3.col-sm-3.col-lg-3.no-margin
						| 24
					li.col-xs-3.col-sm-3.col-lg-3
						| 31
					li.col-xs-3.col-sm-3.col-lg-3
						| 32
					li.col-xs-3.col-sm-3.col-lg-3
						| 33
					li.col-xs-3.col-sm-3.col-lg-3.no-margin
						| 34
					li.col-xs-3.col-sm-3.col-lg-3
						| 41
					li.col-xs-3.col-sm-3.col-lg-3
						| 42
					li.col-xs-3.col-sm-3.col-lg-3
						| 43
					li.col-xs-3.col-sm-3.col-lg-3.no-margin
						| 44
					li.col-xs-3.col-sm-3.col-lg-3
						| 51
					li.col-xs-3.col-sm-3.col-lg-3
						| 52
					li.col-xs-3.col-sm-3.col-lg-3
						| 53
					li.col-xs-3.col-sm-3.col-lg-3.no-margin
						| 54
					li.col-xs-3.col-sm-3.col-lg-3
						| 61
					li.col-xs-3.col-sm-3.col-lg-3
						| 62
					li.col-xs-3.col-sm-3.col-lg-3
						| 63
					li.col-xs-3.col-sm-3.col-lg-3.no-margin
						| 64
					li.col-xs-3.col-sm-3.col-lg-3
						| 71
					li.col-xs-3.col-sm-3.col-lg-3
						| 72
					li.col-xs-3.col-sm-3.col-lg-3
						| 73
					li.col-xs-3.col-sm-3.col-lg-3.no-margin
						| 74

		//- BLOCO F 

		.wrapper-predio.col-xs-12.col-sm-4.col-lg-3
			h2.bloco
				| Bloco F
			.predio.row
				span
				ul
					li.col-xs-3.col-sm-3.col-lg-3
						| 11
					li.col-xs-3.col-sm-3.col-lg-3
						| 12
					li.col-xs-3.col-sm-3.col-lg-3
						| 13
					li.col-xs-3.col-sm-3.col-lg-3.no-margin
						| 14
					li.col-xs-3.col-sm-3.col-lg-3
						| 21
					li.col-xs-3.col-sm-3.col-lg-3
						| 22
					li.col-xs-3.col-sm-3.col-lg-3
						| 23
					li.col-xs-3.col-sm-3.col-lg-3.no-margin
						| 24
					li.col-xs-3.col-sm-3.col-lg-3.red
						| 31
					li.col-xs-3.col-sm-3.col-lg-3
						| 32
					li.col-xs-3.col-sm-3.col-lg-3
						| 33
					li.col-xs-3.col-sm-3.col-lg-3.no-margin.red
						| 34
					li.col-xs-3.col-sm-3.col-lg-3.red
						| 41
					li.col-xs-3.col-sm-3.col-lg-3.red
						| 42
					li.col-xs-3.col-sm-3.col-lg-3.red
						| 43
					li.col-xs-3.col-sm-3.col-lg-3.no-margin.red
						| 44
					li.col-xs-3.col-sm-3.col-lg-3
						| 51
					li.col-xs-3.col-sm-3.col-lg-3
						| 52
					li.col-xs-3.col-sm-3.col-lg-3
						| 53
					li.col-xs-3.col-sm-3.col-lg-3.no-margin
						| 54
					li.col-xs-3.col-sm-3.col-lg-3
						| 61
					li.col-xs-3.col-sm-3.col-lg-3
						| 62
					li.col-xs-3.col-sm-3.col-lg-3
						| 63
					li.col-xs-3.col-sm-3.col-lg-3.no-margin
						| 64
					li.col-xs-3.col-sm-3.col-lg-3
						| 71
					li.col-xs-3.col-sm-3.col-lg-3
						| 72
					li.col-xs-3.col-sm-3.col-lg-3
						| 73
					li.col-xs-3.col-sm-3.col-lg-3.no-margin
						| 74

		//- BLOCO G 

		.wrapper-predio.col-xs-12.col-sm-4.col-lg-3
			h2.bloco
				| Bloco G
			.predio.row
				span
				ul
					li.col-xs-3.col-sm-3.col-lg-3
						| 11
					li.col-xs-3.col-sm-3.col-lg-3
						| 12
					li.col-xs-3.col-sm-3.col-lg-3
						| 13
					li.col-xs-3.col-sm-3.col-lg-3.no-margin
						| 14
					li.col-xs-3.col-sm-3.col-lg-3
						| 21
					li.col-xs-3.col-sm-3.col-lg-3
						| 22
					li.col-xs-3.col-sm-3.col-lg-3
						| 23
					li.col-xs-3.col-sm-3.col-lg-3.no-margin
						| 24
					li.col-xs-3.col-sm-3.col-lg-3
						| 31
					li.col-xs-3.col-sm-3.col-lg-3
						| 32
					li.col-xs-3.col-sm-3.col-lg-3
						| 33
					li.col-xs-3.col-sm-3.col-lg-3.no-margin
						| 34
					li.col-xs-3.col-sm-3.col-lg-3
						| 41
					li.col-xs-3.col-sm-3.col-lg-3
						| 42
					li.col-xs-3.col-sm-3.col-lg-3
						| 43
					li.col-xs-3.col-sm-3.col-lg-3.no-margin
						| 44
					li.col-xs-3.col-sm-3.col-lg-3
						| 51
					li.col-xs-3.col-sm-3.col-lg-3
						| 52
					li.col-xs-3.col-sm-3.col-lg-3
						| 53
					li.col-xs-3.col-sm-3.col-lg-3.no-margin
						| 54
					li.col-xs-3.col-sm-3.col-lg-3
						| 61
					li.col-xs-3.col-sm-3.col-lg-3
						| 62
					li.col-xs-3.col-sm-3.col-lg-3
						| 63
					li.col-xs-3.col-sm-3.col-lg-3.no-margin
						| 64
					li.col-xs-3.col-sm-3.col-lg-3
						| 71
					li.col-xs-3.col-sm-3.col-lg-3
						| 72
					li.col-xs-3.col-sm-3.col-lg-3
						| 73
					li.col-xs-3.col-sm-3.col-lg-3.no-margin
						| 74		

		//- BLOCO G 

		.wrapper-predio.col-xs-12.col-sm-4.col-lg-3
			h2.bloco
				| Bloco G
			.predio.row
				span
				ul
					li.col-xs-3.col-sm-3.col-lg-3
						| 11
					li.col-xs-3.col-sm-3.col-lg-3
						| 12
					li.col-xs-3.col-sm-3.col-lg-3
						| 13
					li.col-xs-3.col-sm-3.col-lg-3.no-margin
						| 14
					li.col-xs-3.col-sm-3.col-lg-3
						| 21
					li.col-xs-3.col-sm-3.col-lg-3
						| 22
					li.col-xs-3.col-sm-3.col-lg-3
						| 23
					li.col-xs-3.col-sm-3.col-lg-3.no-margin
						| 24
					li.col-xs-3.col-sm-3.col-lg-3
						| 31
					li.col-xs-3.col-sm-3.col-lg-3
						| 32
					li.col-xs-3.col-sm-3.col-lg-3
						| 33
					li.col-xs-3.col-sm-3.col-lg-3.no-margin
						| 34
					li.col-xs-3.col-sm-3.col-lg-3
						| 41
					li.col-xs-3.col-sm-3.col-lg-3
						| 42
					li.col-xs-3.col-sm-3.col-lg-3
						| 43
					li.col-xs-3.col-sm-3.col-lg-3.no-margin
						| 44
					li.col-xs-3.col-sm-3.col-lg-3
						| 51
					li.col-xs-3.col-sm-3.col-lg-3
						| 52
					li.col-xs-3.col-sm-3.col-lg-3
						| 53
					li.col-xs-3.col-sm-3.col-lg-3.no-margin
						| 54
					li.col-xs-3.col-sm-3.col-lg-3
						| 61
					li.col-xs-3.col-sm-3.col-lg-3
						| 62
					li.col-xs-3.col-sm-3.col-lg-3
						| 63
					li.col-xs-3.col-sm-3.col-lg-3.no-margin
						| 64
					li.col-xs-3.col-sm-3.col-lg-3
						| 71
					li.col-xs-3.col-sm-3.col-lg-3.red
						| 72
					li.col-xs-3.col-sm-3.col-lg-3.red
						| 73
					li.col-xs-3.col-sm-3.col-lg-3.no-margin
						| 74	


		.legenda.col-xs-12.col-sm-12.col-lg-12
			ul
					li
						span
						p
							| unidades livres
					li
						span.green
						p
							| unidades reservadas
					li
						span.red
						p
							| unidades vendidas	