#slide-foto.row
	.container-slide-foto
		.title-foto
			span.title-foto.icon

		ul#slider1
			li
				img(src="assets/images/foto_slide01.png", alt="Foto")
			li
				img(src="assets/images/foto_slide01.png", alt="Foto")
			li
				img(src="assets/images/foto_slide01.png", alt="Foto")
			li
				img(src="assets/images/foto_slide01.png", alt="Foto")