.slide-banner
	.container-slide
		ul.bxSlider
			li
				img(src="assets/images/banner.jpg", alt="Banner")
			li
				img(src="assets/images/banner.jpg", alt="Banner")
			li
				img(src="assets/images/banner.jpg", alt="Banner")
			li
				img(src="assets/images/banner.jpg", alt="Banner")