.slide-banner.row
	.container-slide
		ul.bxSlider
			li
				img(src="assets/images/banner01.jpg", alt="Banner")
			li
				img(src="assets/images/banner01.jpg", alt="Banner")
			li
				img(src="assets/images/banner01.jpg", alt="Banner")
			li
				img(src="assets/images/banner01.jpg", alt="Banner")