section#video
	.container-video.row
		.itens.col-xs-12.col-sm-12.col-lg-12
			span.icon
			p.col-xs-12.col-sm-12.col-lg-10 2 dormitórios  | varanda  |  elevador  |  vagas cobertas
		.video.col-lg-12
			iframe(src='https://www.youtube.com/embed/cjpJFkhhjU4', frameborder='0', allowfullscreen='')
