footer#footer.col-xs-12.col-sm-12.col-md-12
	div.container-footer.row
		

script(src='http://code.jquery.com/jquery-1.11.3.min.js')
script(src='assets/js/jquery.bxslider.min.js')
script(src='assets/js/main.min.js')
