footer#footer.col-xs-12.col-sm-12.col-md-12
	.mapa
		img(src="assets/images/mapa.jpg", alt="Mapa")
		

script(src='http://code.jquery.com/jquery-1.11.3.min.js')
script(src='http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js')
script(src='http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/ScrollToPlugin.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js')

script(src='assets/js/app/vendors.min.js')
script(src='assets/js/main.min.js')

