footer#footer.col-xs-12.col-sm-12.col-md-12
	div.container-footer.row
		.about-us.col-xs-12.col-sm-6.col-md-4
			h3 ABOUT US
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto in temporibus, voluptatem? Debitis nam quo eaque, quas. Totam modi ad animi saepe eligendi voluptatibus laborum, illo quo. Minus ex, culpa.

		.explore.col-xs-6.col-sm-6.col-md-2
			h3 EXPLORE
			ul
				li
					a(href="#") Home
				li
					a(href="#") About Us
				li
					a(href="#") Services
				li
					a(href="#") Portfolio
				li
					a(href="#") Blog

		.browse.col-xs-6.col-sm-6.col-md-2
			h3 BROWSE
			ul
				li
					a(href="#") Careers
				li
					a(href="#") Press & Media
				li
					a(href="#") Contact Us
				li
					a(href="#") Terms of Service
				li
					a(href="#") Privacy Policy
		
		.contact-us.col-xs-6.col-sm-6.col-md-2
			h3 CONTACT US
			strong BisLite Inc.
			p Always Street 265 0x - 125 - Canada
			p Phone: 987-6543-210 Fax: 987-6543-210

		.connect-us.col-xs-6.col-sm-6.col-md-2
			h3 CONECT WITH US
			ul.social-icons.col-xs-12.col-sm-12.col-md-12
				li.col-xs-4.col-sm-4.col-md-4
					a(href="#")
						span.icon.icon-facebook
				li.col-xs-4.col-sm-4.col-md-4
					a(href="#")
						span.icon.icon-dribbble
				li.col-xs-4.col-sm-4.col-md-4
					a(href="#")
						span.icon.icon-pinterest
				li.col-xs-4.col-sm-4.col-md-4
					a(href="#")
						span.icon.icon-linkedin
				li.col-xs-4.col-sm-4.col-md-4
					a(href="#")
						span.icon.icon-skype
				li.col-xs-4.col-sm-4.col-md-4
					a(href="#")
						span.icon.icon-share

		.footer-bottom.col-xs-12.col-sm-12.col-md-12
			p.col-xs-7.col-sm-9.col-md-9 © Copyright 2012 - BisLite Inc. All rights reserved. Some free icons used here are created by Brankic1979.com. Client Logos are copyright and trademark of the respective owners / companies. 
			.logo-footer.icon.col-xs-5.col-sm-3.col-md-3

script(src='http://code.jquery.com/jquery-1.11.3.min.js')
script(src='assets/js/jquery.bxslider.min.js')
script(src='assets/js/main.min.js')
