header#header
	.container-header
		h1.logotipo.icon BisLite
		span.icon.icon-menu
		
		nav.menu-desktop
			ul
				li
					a.link-menu(href="#") home
				li
					a.link-menu(href="#") about us
				li.drop-down
					span.icon.arrow-down
					a.link-menu(href="#") services
					ul.drop-hidden
						li
							a(href="#") Web Design
						li
							a(href="#") Wordpress Design
						li
							a(href="#") Mobile App Devplopment
						li
							a(href="#") Internet Marketing
						li
							a(href="#") Social Media Management
				li
					a.link-menu(href="#") portfolio
				li
					a.link-menu(href="#") blog
				li
					a.link-menu(href="#") contact us

	nav.menu-mobile
			ul
				li
					a(href="#") home
				li
					a(href="#") about us
				li
					a(href="#") services
				li
					a(href="#") portfolio
				li
					a(href="#") blog
				li
					a(href="#") contact us