<!DOCTYPE html>
html(lang="pt-br")
	head
		title Residencial OMER
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
		meta#viewport(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
		meta#viewport(name='viewport', content='min-width=1280px')
		link(href='assets/css/styles.min.css', media='all', rel='stylesheet', type='text/css')

		