/*------------------------------*\
	General Styles
\*------------------------------*/

.container {
	margin: 0 20px;
	@include clearfix;
}

#mobile-indicator {
	display: none;
}

@include respond-to('tablet') {

	#mobile-indicator {
		display: block;
	}

	.site-container{
		overflow: hidden;
	}
	.site-pusher, .site-container{
		height: 100%;
	}

	.site-pusher {
		@include transition-duration(0.3s);
		@include transform(translateX(0));
	}

	.with--sidebar {
		.site-pusher {
			@include transform(translateX($responsive-menu-width));
		}
		.site-cache {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(0,0,0,0.6);
		}
	}

	.site-content {
		position: absolute;
		top: 71px;
		right: 0;
		left: 0;
		bottom: 0;
		padding-top: 0;
		overflow-y: scroll;
	}
}
