.header {
	background: $color-gray;
	border-bottom: 1px solid lighten($color-primary-dark, 50);
	/* box-shadow: 0 5px 3px 3px $color-dark; */
	padding: 10px 0;

	z-index: 1;

	&__icon {
		display: none;
	}

	&__logo {
		text-indent: -9999px;
		background: url('../img/logo.png') center center no-repeat;
		width: 153px;
		height: 54px;

		display: inline-block;
		margin-top: .5em;
	}

	@extend %clearfix;
}

.main-nav{
	margin: 0 auto;
	width: 80%;
}

 .menu {
	float: right;
}

/* ==================================== *\
		Media Queries for Header
	#1 - Tablet
	#2 - Medium
\* ====================================	*/

@include respond-to('tablet') {

	.header {
		position: static;
		padding: .25rem 0;

		&__icon {
			position: relative;
			display: block;
			float: left;
			width: 50px;
			height: 50px;
			margin-right: 1.25rem;

			// background: $color-dark;

			&:after {
				content: '';
				position: absolute;
				display: block;
				width: 1rem;
				height: 0;
				top: .5rem;
				left: 1rem;

				@include box-shadow(0 10px 0 1px $color-primary, 0 16px 0 1px $color-primary, 0 22px 0 1px $color-primary );
			}
		}

		&__logo {
			width: 100px;
			height: 25px;
			margin-top: .75rem;
			background: url('../img/logo-min.png') center center no-repeat;
		}
	}

	.main-nav {
		width: 100%;
		padding: 0 1rem;
		box-sizing: border-box;
	}
}

@include respond-to('medium') {
	.main-nav {
		width: 80%;
	}
}
