//imports
@import '../_utilities/_variables';
@import '../_utilities/_mixins';

//elementos escondidos por padrão
[hidden] {
  display: none;
}

// elementos desabilitados
[disabled],
[disabled] + label {
  cursor: not-allowed;
}

//todos os inputs dos tipos input[type='file'], input[type='checkbox'], input[type='radio'], input[type='image'] precisam de um label(mesmo que vazio) após a declaração deles, pois os mesmo só podem ser estilizados atrvés dos pseudo elementos do label, todos esse labels e inputs devem ter um ID identificador para se conectarem

// inputs de upload
input[type='file'] {
  height: .1em;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  width: .1em;

  + label {
    background-color: $gray-color;
    border: .125rem solid $gray-color;
    color: rgba($black-color, .8);
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
    @include rem(padding, 8 10);
    @include rem(padding-left, 28);
    position: relative;
    @include transition(background-color .2s linear, outline .2s linear);
    &:before {
      content: $svg-upload;
      display: inline-block;
      @include rem(left, 7);
      @include rem(top, 9);
      @include rem(width, 14);
      position: absolute;
    }
  }
  &:focus + label,
  + label:hover,
  &.s-focus + label {
    background-color: rgba($gray-color, .8);
    outline: .125rem dotted $black-color;
    outline: -webkit-focus-ring-color auto .313em;
  }
}

// inputs de checkbox
input[type='checkbox'] {
  left: -9999px;
  position: absolute;
  visibility: hidden;

// Indeterminate checkbox
  &:indeterminate {
    +label:before {
      left: -.625rem;
      top: -.688rem;
      width: .625rem; height: 1.375rem;
      border-top: none;
      border-left: none;
      border-right: .125rem solid $secondary-gray-color;
      border-bottom: none;
      @include transform(rotate(90deg));
      @include transform(transform-origin(100% 100%));
      -webkit-backface-visibility: hidden;
    }

    // Disabled indeterminate
    &:disabled + label:before {
      border-right: .125rem solid $bg-color;
      background-color: transparent;
    }
  }

  // texto do label
  + label {
    font-size: 1rem;
    cursor: pointer;
    display: inline-block;
    height: 1.563rem;
    line-height: 1.563rem;
    padding-left: 2rem;
    position: relative;
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -ms-user-select: none; /* IE10+ */
  }

  /* aspecto checkbox */
  + label:before,
  + label:after {
    border: .125rem solid transparent;
    content: '';
    height: 1rem;
    left: .125rem;
    margin-top: .125rem;
    position: absolute;
    top: .125rem;
    z-index: 0;
    width: 1rem;
    @include transition(.2s);
  }

  + label:before,
  + label:after {
    @include transition(border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s);
  }

  // Unchecked style
  &:not(:checked) + label:after {
    background-color: transparent;
    border: .125rem solid $bg-color;
    height: 1.25rem;
    top: 0;
    z-index: 0;
    width: 1.25rem;
  }

  //disable
  &:not(:checked):disabled  {
    + label{
      cursor: not-allowed;
    }

    + label:before,
    + label:after,{
      border-color: $bg-color;
      background-color: $bg-color;
    }
  }

  // Checked style
  &:checked {
    + label:before {
      border: .18rem solid;
      border-color: transparent $white-color $white-color transparent;
      height: .813rem;
      left: .063rem;
      @include transform(rotateZ(37deg));
      -webkit-transform-origin: 100% 100%;
      transform-origin: 100% 100%;
      top: 0;
      z-index: 1;
      width: .5rem;
    }
    + label:after {
      border: .125rem solid $green-color;
      background-color: $green-color;
      height: 1.25rem;
      top: 0;
      width: 1.25rem;
    }
  }
}

// inputs de radio button
[type="radio"] {
    position: absolute;
    left: -9999px;
    visibility: hidden;

  // texto do label
  + label {
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    height: 1.563rem;
    line-height: 1.563rem;
    padding-left: 1.563rem;
    position: relative;
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
  }

  + label:after,
  + label:before{
    border-radius: 50%;
    border: .125em solid;
    border-color: $bg-color;
    content: '';
    position: absolute;
    left: 0;
    top: .063rem;
    margin: .25rem;
    height: .625rem;
    z-index: 0;
    @include transition(.28s ease);
    width: .625rem;
  }

  //estilos desabilitados
  &:disabled:checked,
  &:disabled:not(:checked) {
    + label{
      cursor: not-allowed;
    }
    + label:before,
    + label:after{
      background-color: $bg-color;
      border-color: $bg-color;
  }
}

  &:not(:checked) + label:after{
    z-index: -1;
  }

  //estilos confirmados
  &:checked + label:before,
  &:checked + label:after {
    border-color: $green-color;
  }
  &:checked + label:after {
    background-color: $green-color;
    z-index: 0;
    @include transform(scale(.5));
  }
}
