//Váriavel de font-base
$basefontsize: 16 !default;

//Váriaveis para cores
$bgColor: #e8ebf1;
$blueColor: #2aacc8;
$blueColor2: #7de1eb;
$blueColor3: #4fc3d7;
$blueLightColor: #81e4ed;
$blackColor: #000;
$whiteColor: #fff;
$grayColor: #e7e7e7;
//$Color: #;
