$color1: #e8ebf1;
$color2: #6ec2ca;
$color3: #000000;
$color4: #2aacc8;
$color5: #FFFFFF;
$color6: #e7e7e7;
$color7: #81e4ed;
$color8: #71a3a7;
$color9: #d9d9d9;
$color10: #363636;
$color11: #dfe1e5;
$color12: #e8fcfe;